form {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

input {
  display: flex;
  width: 25vw;
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    max-width: 70%;
    margin: auto;
  }
}

@media only screen and (min-width: 2560px) {
  .wrapper {
    max-width: 50%;
    margin: auto;
  }
}

.inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
}

a {
  margin: auto;
  margin-bottom: 25px;
}
